.history .scroll-box .list .item {
  margin: 6px 0;
  padding: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  word-wrap: break-word;     /* for old browsers */
  overflow-wrap: break-word; /* modern standard */
}