:root {
  /* page */
  --bg: #0f1724;
  --text: #e6eef6;

  /* history */
  --history-bg: rgba(0, 0, 0, 0.4);

  /* calculator */
  --calc-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  --calc-panel: #0b1220;
  --clac-glass: rgba(255, 255, 255, 0.05);

  /* buttons */
  --btn: #111827;
  --op-btn: linear-gradient(180deg, #0b3b3f, #063237);
  --eq-btn: #003385;
  --border-btn: 1px solid rgba(255, 255, 255, 0.06);
  --unactive-btn: 2px 2px 5px #000, -2px -2px 5px #51515166;
  --active-btn: inset 5px 5px 5px #00000059, inset -5px -5px 5px #ffffff17;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* 
  Responsive font size using clamp():
  font-size: clamp(MIN, calc(MIN + (MAX - MIN) * ((100vw - 320px) / (1440 - 320))), MAX);

  - Minimum size: 12px (at 320px viewport)
  - Maximum size: 16px (at 1440px viewport)
  - Middle value grows smoothly using a linear interpolation formula.
  
  Formula breakdown:
  calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)))
  
  • (16 - 12) = 4px total growth needed  
  • (100vw - 320px) / (1440 - 320) calculates how far the viewport is 
    between 320px and 1440px  
  • The result scales font-size from 12px → 16px as the screen widens.
*/
html {
  font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320))), 16px);
}

/* Set global font and smoothing for better text rendering */
body {
  font-family: Inter, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply box-sizing and reset padding/margin for all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}


/* Remove tap highlight on all mobile browsers */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Remove default bullet points from unordered lists */
ul {
  list-style: none;
}

/* Standard container class for global layout */
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}