/* Allow <main> to expand and fill available vertical space */
main {
  flex: 1;
}

main .container {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}